<%- include('partials/header') %>

    <section class="hero-section">
        <div class="hero-content">
            <h2>Velkomin á Uppskriftavefinn</h2>
            <p>Hér getur þú fundið spennandi nýjar uppskriftir eða deilt þínum eigin með öðrum. Eldamennska hefur aldrei
                verið skemmtilegri!</p>
            <a href="/uppskriftir" class="btn-primary">Skoða Uppskriftir</a>
        </div>
    </section>

    <section class="featured">
        <h3>Úrval vikunnar</h3>
        <div class="card-grid">
            <div class="recipe-card">
                <div class="card-img placeholder-img"></div>
                <div class="card-info">
                    <h4>Kanilsnúðar Ömmu</h4>
                    <p>Tími: 45 mín</p>
                </div>
            </div>
            <div class="recipe-card">
                <div class="card-img placeholder-img"></div>
                <div class="card-info">
                    <h4>Ítalskt Lasagna</h4>
                    <p>Tími: 90 mín</p>
                </div>
            </div>
            <div class="recipe-card">
                <div class="card-img placeholder-img"></div>
                <div class="card-info">
                    <h4>Grænt Smoothie</h4>
                    <p>Tími: 10 mín</p>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>